body{
            margin: 0;
        }

        .danh-sach-muc{
            padding: 0;
            margin: 0;
            /* bỏ dấu chấm ở danh sách khi dung ul, li */
            list-style: none;
            display: flex;
            /* khoảng cách các đối tượng ở trong */
            gap: 20px;
        }

        .danh-muc{
            background-color: #198cf0;
            padding: 10px;
        }

        .lien-ket{
            color: white;
            /* bỏ gạch chân của thẻ a */
            text-decoration: none;
        }

        main{
            display: flex;
        }

        .trai{
            width: 20%;
            height: 100vh;
            /* tạo đường viền dùng border
            3 tham số: độ dày, loại đường viền, màu sắc */
            border-right: 1px solid #198cf0;
        }

         .khoi-dang-nhap{
            width: 100%;
            height: 100px;
        }

        form{
            width: 80%;
            margin: 10px auto;
        }

        .khoi-thong-tin{
            margin-bottom: 10px;
            width: 100%;
            
        }

        p{
            margin: 0;
        }

        input{
            width: 100%;
            padding: 5px 0;
            border-radius: 5px;
        }

        .quen-mat-khau{
            display: flex;
            justify-content: flex-end;
        }

        .quen-mat-khau-lien-ket{
            color: #198cf0;
            text-decoration: none;
        }

        .login{
            background-color: #1992d7;
            color: white;
        }

        .login-365{
            background-color: #0078d4;
            color: white;
        }

        button{
            margin-bottom: 10px;
            width: 100%;
        }

        .phai{
            width: 80%;
        }

        .tin{
            width: 95%;
            height: 100px;
            margin: 20px auto;
            border: 1px solid #198cf0;
            border-radius: 10px;
        }

        .chuc-nang{
            width: 95%;
            margin: 5px auto;
            padding: 5px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1PX solid #198cf0;
        }

        .tieu-de{
            font-weight: bold;
            font-family: "Roboto", sans-serif;
            text-decoration: none;
        }

        .xem-tiep{
            color: #198cf0;
            font-family: "Roboto", sans-serif
            text-decoration: none;
        }